.nav-cont {
    display: flex;
    background-color: rgb(111, 113, 118);
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.nav-links {
    display: flex;
    padding: 10px;
}

.login-links > button {
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.login-links > button:hover {
    color: #7FC6D0;
}

.login-links > :first-child {
    border-right: 1px solid white;
}

.nav-title {
    color: white;
    padding-left: 30px;
}

.nav-link {
    margin: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.nav-link:hover {
    color: #7FC6D0;
    text-decoration: underline;
}

.nav-btn:focus {
    outline: none;
}

.nav-btn:hover {
    background-color: #7FC6D0;
    cursor: pointer;
}