.draggable-parent {
  position: relative; 
  top: 60px;
  width: 800px;
  height: 800px;
  border: 1px solid red !important;
}

.draggable-parent > div {
  border: 1px solid green !important;
  width: 150px;
  height: 150px;
}