.board-buttons-div{
    display: flex;
    justify-content: space-between;
    width: 280px;
    z-index: 5;
    margin-left: 260px;
    margin-top: 15px;
    position: absolute;
}

.delete-board-btn {
    z-index: 5;
    padding: 7px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #7FC6D0;
    border: none;
    color: white;
    font-size: 14px;
}

.new-note-btn {
    z-index: 5;
    padding: 7px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #7FC6D0;
    border: none;
    color: white;
    font-size: 14px;
    position: fixed;
}

.new-note-btn:hover {
    background-color: blue;
}

.delete-board-btn:hover {
    background-color: red;
}

.delete-board-btn {
    position: fixed;
    left: 440px;
}

.delete-warning {
    display: none;
    position: fixed;
    border-radius: 0px 10px 10px 10px;
    background: orange;
    border: 2px solid white;
    width: 250px;
    left: 460px;
    top: 50px;
    padding: 6px;
    color: white;
}
.delete-board-btn-div:hover .delete-warning {
    display: flex;
}

.new-note-btn:focus {
    outline: none;
}

.board-build-header {
    text-align: center;
}

.board-build-form {
    margin: auto
}


.build-form input {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.build-form input:focus {
    outline: none
}

.board-main {
    background: url('cork-board.jpg');
    height: 1020px;
    width: 1920px;
}

.notes-parent {
    height: 100%;
    width: 100%;
    position: relative;
}

#canvas {
    position: absolute;
    z-index: 49;
}
