.board-buttons-div{
    display: flex;
    justify-content: space-between;
    width: 280px;
    z-index: 110;
    margin-left: 270px;
    margin-top: 13px;
    position: absolute;
}

.delete-board-btn {
    z-index: 110;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #7FC6D0;
    // border: none;
    color: white;
    font-size: 14px;
    position: fixed;
    left: 440px;
    outline: none;
}

.new-note-btn {
    z-index: 5;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #7FC6D0;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    position: fixed;
}

.new-note-btn:hover {
    background-color: rgb(8, 169, 190);
}

.delete-board-btn:hover {
    background-color: red;
}

// .delete-warning {
//     display: none;
//     position: fixed;
//     border-radius: 0px 10px 10px 10px;
//     background: orange;
//     border: 2px solid white;
//     width: 250px;
//     left: 460px;
//     top: 50px;
//     padding: 6px;
//     color: white;
// }
// .delete-board-btn-div:hover .delete-warning {
//     display: flex;
// }

.delete-board-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: white;
}

.delete-board-div > button {
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #7FC6D0;
    color: white;
    font-size: 14px;
    outline: none;
    margin-top: 35px;
}

.delete-board-div > button:hover {
        background-color: red;

}



.new-note-btn:focus {
    outline: none;
}

.board-build-header {
    text-align: center;
}

.board-build-form {
    margin: auto
}


.build-form input {
    padding: 10px 13px;
    border-radius: 5px;
    border: 2px white solid;
    margin: 10px;
    
}

.build-form input:focus {
    outline: none
}

.board-main {
    background: url('cork-board.jpg');
    height: 1020px;
    width: 1920px;
    border: 2px solid black;
    // position: relative;
}

.notes-parent {
    height: 100%;
    width: 100%;
    position: relative;
    // margin-top: 75px;
}

#canvas {
    position: absolute;
    z-index: 49;
}
